@import "tailwindcss";

* {
  font-family: sans-serif;
}

h3 {
  @apply text-2xl font-bold;
}

body {
  padding: 1rem 3rem;
  /* background-color: rgb(247, 247, 247); */
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.photoroom.com%2Fv1%2Fassets-cached.jpg%3Fpath%3Dbackgrounds_v3%2Fwhite%2FPhotoroom_white_background_extremely_fine_texture_only_white_co_d285fc74-d562-4a9f-b0b8-8cf7500231d8.jpg&f=1&nofb=1&ipt=8f88cb83c2268eaf92087822bdeada4ce4cc7427d021a4096c8d0e1934cfa5bc&ipo=images);
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  cursor: pointer;
}

.glow {
  background: rgba(223, 223, 223, 0.507);
  /* backdrop-filter: blur(50px) brightness(1.5) contrast(1.5); */
  backdrop-filter: blur(40px) brightness(1.5) contrast(1.5) saturation(1.5);
  -webkit-backdrop-filter: blur(40px);
}

.shadow {
  box-shadow: 0 0 2px black;
}

h2 {
  font-size: 4rem;
  font-weight: bolder;
}

h4 {
  font-size: 3rem;
  font-weight: bold;
}

.gradient {
  font-weight: bold;
  background: linear-gradient(blue, purple);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

@theme {
  --color-primary: dodgerblue;
  --color-secondary: purple;
}

iframe::-webkit-scrollbar {
  background-color: blue;
}
